.alert-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px 0;
  width: 100%;
}

.error {
  background-color: #f85c5c;
  border: solid red 1px;
  color: white;
}

.success {
  background-color: #72ce6e;
  border: solid #078703 1px;
  color: white;
}

.info {
  background-color: #4fa7cc;
  border: solid #008cff 1px;
  color: white;
}

.alert {
  padding: 10px 20px;
  text-align: center;

  border-radius: 3px;
  width: 500px;
  margin: 0 auto;
}
