<h1>Les formulaires</h1>

<section>
  <h2>Template driven forms</h2>

  <p>Importer FormsModule dans app.module.</p>
  <p>Le two way binding : banana in a box [()]</p>
  <div>
    <input [(ngModel)]="username">
    <p><b>Username: {{username}}</b></p>
  </div>

  <h2>Connexion</h2>
  <form (ngSubmit)="login()">
    <div>
      <label for="email">Email</label>
      <input [(ngModel)]="user_login.email" id="email" type="email"/>
    </div>
    <div>
      <label for="password">Password</label>
      <input [(ngModel)]="user_login.password" id="password" type="password"/>
    </div>
    <button>Connexion</button>
  </form>


</section>
