nav {
  background-color: var(--light);
}

nav ul {
  list-style: none;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

a:link, a:visited {
  color: var(--dark);
  font-family: var(--title-font);
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}
