<nav>
  <ul>
    <li>
      <a routerLink="/">Présentation</a>
    </li>
    <li>
      <a routerLink="/directives">Directives</a>
    </li>
    <li>
      <a routerLink="/forms">Formulaires</a>
    </li>
    <li>
      <a routerLink="/formations">Formations</a>
    </li>
    <li>
      <a routerLink="/rxjs">RXJS</a>
    </li>
    <li>
      <a routerLink="/games">Games</a>
    </li>
    <ng-container *ngIf="isLogged$ | async; then loggedBlock; else anonymousBlock"></ng-container>
    <ng-template #anonymousBlock>
      <li>
        <a routerLink="/login">Login</a>
      </li>
    </ng-template>
    <ng-template #loggedBlock>
      <li>
        <button (click)="logout()">LOGOUT</button>
      </li>
    </ng-template>
  </ul>
</nav>
